.root {
  width: 900px;
  height: 800px;
  border:1px solid #ECEEF2;
  background-color: white;
  border-radius: 20px 0 0 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 2px solid #ECEEF2;
}
.heading {
  font-weight: 590;
font-size: 24px;
line-height: 32px;
color: #262626;
}
.main {
  display: flex;
  min-height: 725px;
}
.flex50 {
  flex: 0 0 50%;
}
.scCheck {
  border-left: 2px solid #ECEEF2;
}
.flow {
  background-image: url("../../assets/bg.png");
  height: 100%;
}